@model IEnumerable<TodoList.BLL.Models.UserWithTaskVM>

@foreach (var item in Model.Select((value, i) => new{ value, i}))
{
    <h4>@(item.i + 1). @item.value.Fullname's Tasks</h4>
    <table class="table table-striped">

        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col">Description</th>
            <th scope="col">Priority</th>
            <th scope="col">Due date</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>

        @{
            foreach (var task in item.value.Tasks.Select((value, i) => new{ value, i}))
            {
                <tr>
                    <th scope="row">@(task.i + 1)</th>
                    <td>@task.value.Title</td>
                        <td>@task.value.Description</td>
                        <td>@task.value.Priority</td>
                        <td>@task.value.DueDate</td>

                        <td>@task.value.Status</td>

                </tr>
            }
        }




        </tbody>
    </table>

}

